# Cnfiguration file that:
#  - Enables security updates
#  - Disables version-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    # Disable version updates for npm dependencies
    open-pull-requests-limit: 0
    commit-message:
      # Prefix all commit messages with "npm: "
      prefix: 'build'
