/* stylelint-disable */
/* search box */
.search-box {
  /* position: absolute;
  top: 10px;
  right: 50px; */
  padding-right: 8px;
  padding-bottom: 10px;
  line-height: normal;
  font-size: 12px;

  /* Geops */
  width: 210px;
  background: white;
  padding: 6px;
  height: 28px;
  margin-top: 10px;
}

.search-box img {
  width: 20px;
  vertical-align: top;
}

.search-input {
  display: inline;
  visibility: hidden;
  width: 0;
  padding: 2px;
  height: 1.5em;
  outline: none;
  background: transparent;
  border: 1px #0af;
  border-style: none none solid none;
  vertical-align: bottom;

  /* Geops */
  width: 100%;
}

.search-input-edge {
  display: none;
  width: 1px;
  height: 5px;
  background-color: #0af;
  vertical-align: bottom;
}

.search-result {
  position: absolute;
  display: none;
  height: 600px;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  background: white;
  box-shadow: 1px 1px 4px rgb(0,0,0);
  white-space: nowrap;
  overflow-y: scroll;

  /* Geops */
  max-height: 300px;
  min-width: 200px;
  max-width: 500px;
  width: auto;
  margin-left: 0px;
  height: auto;

}

.search-result-import-path {
  color: #aaa;
  font-size: 12px;
}

.search-result li {
  list-style: none;
  padding: 2px 4px;
}

.search-result li a {
  display: block;
}

.search-result li.selected {
  background: #ddd;
}

.search-result li.search-separator {
  background: rgb(37, 138, 175);
  color: white;
}

.search-box.active .search-input {
  visibility: visible;
  transition: width 0.2s ease-out;
  /* Geops width: 300px; */
}

.search-box.active .search-input-edge {
  display: inline-block;
}

