/* stylelint-disable */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700);
@import url(./manual.css);
@import url(./source.css);
@import url(./test.css); */
@import url(./identifiers.css);
/* @import url(./github.css); */
@import url(./search.css);

.esdoc * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* .esdoc  html {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  overflow: auto;
  font-size: 14px;
  color: #4d4e53;
  color: rgba(0, 0, 0, .68);
  color: #555;
  background-color: #fff;
}  */

.esdoc a {
  color: #0095dd;
  color:rgb(37, 138, 175);
  color: #039BE5;
}

.esdoc code a:hover {
  text-decoration: underline;
}

.esdoc ul, .esdoc ol {
  padding-left: 20px;
}

.esdoc ul li {
  list-style: disc;
  margin: 4px 0;
}

.esdoc ol li {
  margin: 4px 0;
}

.esdoc h1 {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 900;
  border-bottom: solid 1px #ddd;
}

.esdoc h2 {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 22px;
  border-bottom: solid 1px #ddd;
  font-weight: 900;
}

.esdoc h3 {
  position: relative;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 4px;
  font-weight: 300;
}

.esdoc details {
  cursor: pointer;
}

.esdoc del {
  text-decoration: line-through;
}

.esdoc p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.esdoc code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.esdoc pre > code {
  display: block;
}

.esdoc pre.prettyprint, .esdoc pre > code {
  padding: 4px;
  margin: 1em 0;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.esdoc pre.prettyprint > code {
  margin: 0;
}

.esdoc p > code,
.esdoc li > code {
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.esdoc .code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
}

.esdoc .import-path pre,
.esdoc .import-path pre code {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
}

.esdoc .layout-container {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: flex-start;*/
  /*align-items: stretch;*/
}

.esdoc .layout-container > header {
  display: flex;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 10px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* Geops background-color: #fafafa; */
  top: 0;
  /* Geops border-bottom: solid 1px #ddd; */
}
.esdoc .layout-container > header > a{
  margin: 0 5px;
  color: #444;
}

 /*.esdoc .layout-container > header > a.repo-url-github {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 38px;
  background: url("../image/github.png") no-repeat center;
  background-size: 20px;
  vertical-align: top;
} */

.esdoc .navigation {
  /* position: fixed;
  top: 0;
  left: 0; */
  /* box-sizing: border-box; */
  width: 100%;
  /* margin-top: 40px;
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 2em;
  margin-top:1em; */
  overflow-x: auto;
  /* box-shadow: rgba(255, 255, 255, 1) -1px 0 0 inset; */
}

.esdoc .navigation ul {
  padding: 0;
}

.esdoc .navigation li {
  list-style: none;
  margin: 4px 0;
  white-space: nowrap;
}

.esdoc .navigation li a {
  color: #353535;
}

.esdoc .navigation .nav-dir-path {
  display: block;
  margin-top: 0.7em;
  margin-bottom: 0.25em;
  font-weight: 600;
}

.esdoc .kind-class,
.esdoc .kind-interface,
.esdoc .kind-function,
.esdoc .kind-typedef,
.esdoc .kind-variable,
.esdoc .kind-external {
  margin-left: 0.75em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  margin-right: 0.2em;
  font-weight: bold;
  line-height: 1.2em;
}

.esdoc .kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

.esdoc .kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

.esdoc .kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

.esdoc .kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

.esdoc .kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

.esdoc .kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}

.esdoc .summary span[class^="kind-"] {
  margin-left: 0;
}

.esdoc h1 .version,
.esdoc h1 .url a {
  font-size: 14px;
  color: #aaa;
}

.esdoc .content {
  margin-top: 40px;
  /* margin-left: 250px;
  padding: 10px 50px 10px 20px; */
}

.esdoc .header-notice {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

.esdoc .expression-extends .prettyprint {
  margin-left: 10px;
  background: white;
}

.esdoc .extends-chain {
  border-bottom: 1px solid#ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.esdoc .extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

.esdoc .extends-chain > div {
  margin: 5px 0;
}

.esdoc .description table {
  font-size: 14px;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.esdoc .description thead {
  background: #999;
  color: white;
}

.esdoc .description table td,
.esdoc .description table th {
  border: solid 1px #ddd;
  padding: 4px;
  font-weight: normal;
}

.esdoc .flat-list ul {
  padding-left: 0;
}

.esdoc .flat-list li {
  display: inline;
  list-style: none;
}

.esdoc table.summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.esdoc table.summary thead {
  background: #fafafa;
}

.esdoc table.summary td {
  border: solid 1px #ddd;
  padding: 4px 10px;
}

.esdoc table.summary tbody td:nth-child(2) {
  border-left: none;
  vertical-align: top;
  max-width: 450px;
}

.esdoc table.summary td > div:nth-of-type(1) {
  padding-top: 4px;
  /* padding-left: 15px; */
}

.esdoc table.summary td p {
  margin-bottom: 0;
}

.esdoc .inherited-summary thead td {
  padding-left: 2px;
}

.esdoc .inherited-summary .summary tbody {
  display: none;
}

.esdoc .inherited-summary .summary .toggle {
  padding: 0 4px;
  font-size: 12px;
  cursor: pointer;
}
.esdoc .inherited-summary .summary .toggle.closed:before {
  content: "▶";
}
.esdoc .inherited-summary .summary .toggle.opened:before {
  content: "▼";
}

.esdoc .member, .esdoc .method {
  margin-bottom: 24px;
}

.esdoc table.params {
  width: calc(100% - 10px);
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

.esdoc table.params thead {
  background: #eee;
  color: #aaa;
  font-size: 18px;
}

.esdoc table.params td {
  padding: 4px;
  border: solid 1px #ddd;
}

.esdoc table.params td p {
  margin: 0;
}

.esdoc .content .detail > * {
  margin: 15px 0;
}

.esdoc .content .detail > .anchor-offset {
  /* offset anchor to add offset on href click (due to the header height) */
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.esdoc .content .detail > h3 {
  color: #353535;
  background-color: #f0f0f0;
}

.esdoc .content .detail > div {
  margin-left: 10px;
}

.esdoc .content .detail > .import-path {
  margin-top: -8px;
}

.esdoc .content .detail + .detail {
  margin-top: 30px;
}

.esdoc .content .detail .throw td:first-child {
  padding-right: 10px;
}

.esdoc .content .detail h4 + :not(pre) {
  padding-left: 0;
  margin-left: 10px;
}

.esdoc .content .detail h4 + ul li {
  list-style: none;
}

.esdoc .return-param * {
  display: inline;
}

.esdoc .argument-params {
  margin-bottom: 20px;
}

.esdoc .return-type {
  padding-right: 10px;
  font-weight: normal;
}

.esdoc .return-desc {
  margin-left: 10px;
  margin-top: 4px;
}

.esdoc .return-desc p {
  margin: 0;
}

.esdoc .deprecated,.esdoc  .experimental,.esdoc  .instance-docs {
  border-left: solid 5px orange;
  padding-left: 4px;
  margin: 4px 0;
}

.esdoc tr.listen p,
.esdoc tr.throw p,
.esdoc tr.emit p{
  margin-bottom: 10px;
}

.esdoc .version, .since {
  color: #aaa;
}

.esdoc h3 .right-info {
  position: absolute;
  right: 4px;
  font-size: 14px;
}

.esdoc .version + .since:before {
  content: '| ';
}

.esdoc .see {
  margin-top: 10px;
}

.esdoc .see h4 {
  margin: 4px 0;
}

.esdoc .content .detail h4 + .example-doc {
  margin: 6px 0;
}

.esdoc .example-caption {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 4px;
  font-style: italic;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.esdoc .example-caption + pre.source-code {
  margin-top: 0;
  border-top-left-radius: 0;
}

.esdoc footer,.esdoc  .file-footer {
  text-align: right;
  font-style: italic;
  font-weight: 100;
  font-size: 13px;
  margin-right: 50px;
  margin-left: 270px;
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.esdoc footer img {
  width: 24px;
  vertical-align: middle;
  padding-left: 4px;
  position: relative;
  top: -3px;
  opacity: 0.6;
}

.esdoc pre.source-code {
  padding: 4px;
}

.esdoc pre.raw-source-code > code {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background: #fff;
  border: solid 1px #ddd;
  line-height: 1.5;
}

.esdoc pre.raw-source-code > code > ol {
  counter-reset:number;
  list-style:none;
  margin:0;
  padding:0;
  overflow: hidden;
}

.esdoc pre.raw-source-code > code > ol li:before {
  counter-increment: number;
  content: counter(number);
  display: inline-block;
  min-width: 3em;
  color: #aaa;
  text-align: right;
  padding-right: 1em;
}

.esdoc pre.source-code.line-number {
  padding: 0;
}

.esdoc pre.source-code ol {
  background: #eee;
  padding-left: 40px;
}

.esdoc pre.source-code li {
  background: white;
  padding-left: 4px;
  list-style: decimal;
  margin: 0;
}

.esdoc pre.source-code.line-number li.active {
  background: rgb(255, 255, 150) !important;
}

.esdoc pre.source-code.line-number li.error-line {
  background: #ffb8bf;
}

.esdoc .inner-link-active {
  /*background: rgb(255, 255, 150) !important;*/
  background: #039BE5 !important;
  color: #fff !important;
  padding-left: 0.1em !important;
}

.esdoc .inner-link-active a {
  color: inherit;
}

.esdoc .hide-no-content h2:first-child:nth-last-child(1),
  .esdoc .hide-no-content h4:first-child:nth-last-child(1) {
  display: none;
}