button#toggle {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 10px;
  border-radius: 5px;
  background-color: #76b833;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 10px;
  width: 80px;

  &:hover {
    background-color: #4f7c1c;
  }
}
